.popup {
    opacity: 0;
    visibility: hidden;
    display: none;
    transition: all .5s ease-in-out;
}

.popup_active {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
    opacity: 1;
    visibility: visible;
    padding: 0;
}

.popup__window {
    position: relative;
    background-color: white;
    border-radius: 10px;
    border: solid white 2px;
    width: 430px;
    color: black;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

@media screen and (max-width: 720px) {
    .popup__window {
        width: 100%;
        margin: auto;
    }
}

.popup__title {
    width: 73.25%;
    text-align: left;
    margin-top: 43px;
    margin-left: 36px;
    margin-bottom: 22px;
    font-family: 'Roboto';
    font-weight: 900;
    font-size: 24px;
    line-height: 28px;
}

@media screen and (max-width: 720px) {
    .popup__title {
        margin-left: 5vw;
    }
}

.popup__title_type_fail {
    width: 73.25%;
    color: red;
    text-align: left;
    margin-top: 43px;
    margin-left: 36px;
    margin-bottom: 22px;
    font-family: 'Roboto';
    font-weight: 900;
    font-size: 24px;
    line-height: 28px;
}

@media screen and (max-width: 720px) {
    .popup__title_type_fail {
        margin-left: 5vw;
    }
}

.popup__closer {
    background: none;
    border: none;
    position: absolute;
    top: -50px;
    right: -50px;
    opacity: 1;
    transition: opacity .3s linear;
}

@media screen and (max-width: 720px) {
    .popup__closer {
        right: 10px;
    }
}

.popup__closer:hover {
    opacity: 0.6;
    cursor: pointer;
}

.popup__form {
    margin: 0 auto;
    width: 358px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

@media screen and (max-width: 720px) {
    .popup__form {
        width: 90%;
    }
}

.popup__form_disabled {
    display: none;
}

.popup__submit {
    width: 100%;
    height: 64px;
    margin-top: 42px;
    margin-bottom: 0;
    border: none;
    box-sizing: border-box;
    border-radius: 100px;
    background-color: #2F71E5;
    color: white;
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    opacity: 1;
    transition: opacity .3s linear;
}

.popup__submit:hover {
    opacity: 0.8;
    cursor: pointer;
}

@media screen and (max-width: 720px) {
    .popup__submit {
        height: 46px;
        margin-top: 46px;
        margin-bottom: 25px;
        margin-left: 22px;
        max-width: 238px;
    }
}

.popup__submit_disabled {
    background-color: #E6E8EB;
    ;
    color: #B6BCBF;
    width: 100%;
    height: 64px;
    margin-top: 42px;
    margin-bottom: 0;
    border: none;
    box-sizing: border-box;
    border-radius: 100px;
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    opacity: 1;
    transition: opacity .3s linear;
}

.popup__submit_disabled:hover {
    opacity: 1;
    cursor: auto;
}

.popup__open-another {
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    align-self: center;
    border: none;
    background: none;
    color: #2F71E5;
    cursor: pointer;
    margin-top: 13px;
    margin-bottom: 28px;
    opacity: 1;
    transition: opacity .3s linear;
}

.popup__open-another_success {
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    font-size: 18px;
    line-height: 22px;
    text-align: left;
    margin-left: 36px;
    padding: 0;
    border: none;
    background: none;
    color: #2F71E5;
    cursor: pointer;
    margin-top: 13px;
    margin-bottom: 28px;
    opacity: 1;
    transition: opacity .3s linear;
}

.popup__open-another:hover .popup__open-another_success:hover{
    opacity: 0.6;
    cursor: pointer;
}

.popup__or {
    color: black;
    cursor: default;
}

.popup__or_success {
    display: none;
}

.popup__input-label {
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    color: #2F71E5;
    margin-bottom: 9px;
}

.popup__input {
    border: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.5);
    padding-bottom: 5px;
    background: none;
    width: 100%;
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #000000;
}

.popup__input:focus {
    border-bottom: 1px solid rgba(0, 0, 0, 1);
}

::placeholder {
    opacity: 0.5;
}

.popup__error-message {
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    color: #FF0000;
    margin-top: 3px;
}

@media screen and (max-width: 720px) {
    .popup__error-message {
        margin-left: 22px;
        max-width: 238px;
    }
}