.saved-header {
    min-width: 100%;
    background-color: white;
    color: black;
}

.saved-header__nav-bar {
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #D1D2D6;
}

.saved-header__nav-title {
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    margin-left: 104px;
    margin-top: 30px;
    margin-bottom: 24px;
}


@media screen and (max-width: 960px) {
    .saved-header__nav-title {
        margin-left: 40px;
        margin-top: 23px;
        margin-bottom: 18px;
        padding: 0;
    }
}

@media screen and (max-width: 700px) {
    .saved-header__nav-title {
        font-size: 16px;
        line-height: 24px;
        margin-left: 5vw;
        margin-top: 5vw;
        margin-bottom: 5vw;
        padding: 0;
    }
}

.saved-header__nav-items {
    margin: 0;
    display: flex;
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    margin-right: 104px;
}

@media screen and (max-width: 960px) {
    .saved-header__nav-items {
        margin-right: 40px;
        margin-top: 0;
    }
}

@media screen and (max-width: 700px) {
    .saved-header__nav-items {
        margin: 0;
        padding: 0;
    }
}

.saved-header__burger-menu {
    display: none;
    border: none;
    padding: 0;
}

@media screen and (max-width: 700px) {
    .saved-header__burger-menu {
        display: block;
        width: 7.5vw;
        height: 7.5vw;
        background-image: url(../../images/burger-menu-black.svg);
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
        background-color: transparent;
        margin-right: 5vw;
        margin-top: 5vw;
        cursor: pointer;
    }
}

.saved-header__nav-item {
    text-decoration: none;
    color: black;
    position: relative;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    margin-right: 70px;
    margin-top: 30px;
    opacity: 1;
    transition: opacity .3s linear;
}

@media screen and (max-width: 960px) {
    .saved-header__nav-item {
        font-weight: 500;
        font-size: 16px;
        margin-right: 60px;
        margin-top: 22px;
    }
}

@media screen and (max-width: 700px) {
    .saved-header__nav-item {
        display: none;
    }
}

.saved-header__nav-item_active::after {
    position: absolute;
    content: "";
    width: 178px;
    height: 3px;
    background: black;
    bottom: -18px;
    left: -30px;
}

@media screen and (max-width: 960px) {
    .saved-header__nav-item_active::after {
        width: 160px;
        bottom: -17px;
    }
}

@media screen and (max-width: 700px) {
    .saved-header__nav-item_active::after {
        display: none;
    }
}

.saved-header__nav-item:hover {
    cursor: pointer;
    opacity: 0.6;
}

.saved-header__log-button {
    background-color: transparent;
    text-decoration: none;
    box-sizing: border-box;
    border-radius: 100px;
    font-size: 18px;
    font-weight: 500;
    height: 48px;
    width: 112px;
    text-indent: -25px;
    margin-top: 19px;
    opacity: 1;
    transition: opacity .3s linear;
    border: 1px solid black;
    color: black;
    position: relative;
    padding-top: 10px;
}

@media screen and (max-width: 960px) {
    .saved-header__log-button {
        width: 100px;
        height: 40px;
        font-size: 16px;
        padding-top: 8px;
        margin-top: 14px;
        border: 1px solid #D1D2D6;
    }
}

@media screen and (max-width: 700px) {
    .saved-header__log-button {
        display: none;
    }
}

.saved-header__logout-icon {
    width: 24px;
    height: 24px;
    position: absolute;
    top: 10px;
    right: 15px;
}

@media screen and (max-width: 960px) {
    .saved-header__logout-icon {
        top: 7px;
    }
}

@media screen and (max-width: 700px) {
    .saved-header__logout-icon {
        display: none;
    }
}

.saved-header__log-button:hover {
    opacity: 0.6;
    cursor: pointer;
}

.saved-header__info {
    max-width: 530px;
    text-align: left;
    margin-left: 104px;
    margin-top: 0;
}

@media screen and (max-width: 960px) {
    .saved-header__info {
        margin-left: 40px;
    }
}

@media screen and (max-width: 700px) {
    .saved-header__info {
        width: 90%;
        margin: 0 auto;
    }
}

.saved-header__info-title {
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    color: rgba(26, 27, 34, 0.5);
    margin-top: 40px;
    margin-bottom: 28px;
}

@media screen and (max-width: 960px) {
    .saved-header__info-title {
        font-size: 14px;
        margin-top: 24px;
        margin-bottom: 16px;
    }
}

@media screen and (max-width: 700px) {
    .saved-header__info-title {
        font-size: 12px;
        line-height: 24px;
        margin-top: 8px;
    }
}

.saved-header__info-subtitle {
    font-weight: 400;
    font-size: 40px;
    line-height: 46px;
    margin: 0;
}

@media screen and (max-width: 960px) {
    .saved-header__info-subtitle {
        font-size: 30px;
        line-height: 34px;
        max-width: 336px;
    }
}

.saved-header__info-keywords {
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    margin-top: 30px;
    margin-bottom: 56px;
}

@media screen and (max-width: 960px) {
    .saved-header__info-keywords {
        margin-top: 16px;
        margin-bottom: 34px;
    }
}

.saved-header__info-categories {
    font-weight: 700;
}

.saved-header__mobile-navbar {
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100vw;
    background-color: white;
    color: black;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    opacity: 1;
    visibility: visible;
    border: none;
    border-radius: 16px;
    box-shadow: 0px 5px 10px #c6c9c7;
}

.saved-header__mobile-navbar-title {
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    margin-top: 5vw;
    text-align: left;
    padding-left: 5vw;
    padding-bottom: 5vw;
    border-bottom: 1px solid gainsboro;
    width: 100vw;
}

.saved-header__mobile-nav-items {
    display: flex;
    width: 90%;
    flex-direction: column;
    justify-content: left;
    padding: 0;
}

.saved-header__mobile-navbar-item {
    text-decoration: none;
    color: black;
    text-align: left;
    margin: 0 auto 0 5vw;
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    font-weight: 500;
    font-size: 18px;
    line-height: 56px;
    padding: 0;
}

.saved-header__mobile-navbar-closer {
    color: black;
    font-weight: 400;
    font-size: 36px;
    transform: rotate(45deg);
    border: none;
    background: transparent;
    width: 24px;
    height: 24px;
    position: absolute;
    top: 3vw;
    right: 3vw;
    padding: 0;
    text-align: center;
}

.saved-header__mobile-log-button {
    align-self: center;
    background-color: transparent;
    text-decoration: none;
    border: 1px solid #D1D2D6;
    box-sizing: border-box;
    border-radius: 100px;
    color: black;
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    font-size: 18px;
    font-weight: 500;
    height: 48px;
    text-indent: -25px;
    margin-top: 19px;
    opacity: 1;
    transition: opacity .3s linear;
    position: relative;
    width: 100%;
    padding-top: 12px;
    margin-bottom: 7.5vw;
    margin-left: 7.5vw;
}

.saved-header__mobile-logout-icon {
    width: 24px;
    height: 24px;
    position: absolute;
    top: 10px;
    right: 15px;
}