.preloader__area {
    margin: 0;
    width: 100%;
    min-height: 282px;
    background: #F5F6F7;
    overflow: hidden;
    position: relative;
}

.preloader__circle {
    display: block;
    width: 74px;
    height: 74px;
    border: 2px solid #444;
    border-bottom-color: #888;
    border-radius: 50%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    animation: spin .75s infinite linear;
}

.preloader__text {
    text-align: center;
    width: 280px;
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    text-align: center;
    color: #B6BCBF;
    position: absolute;
    top: 178px;
    left: 0;
    right: 0;
    bottom: 80px;
    margin: 24px auto;
}

@keyframes spin {
    100% {
        transform: rotate(360deg);
    }
}